.contact-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #0e224c;
  position: relative;
  overflow: hidden;

  .left {
    width: 300px;
    height: 100%;
    z-index: 100;
  }

  .right {
    width: calc(100% - 300px);
    height: 100%;
    z-index: 100;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    .title {
      margin: 0 auto;
      width: max-content;
      height: 35px;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 28px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background: #FF3D00;
        right: 0;
        bottom: 0;
        height: 3px;
        width: 65%;
      }
    }

    .body-side {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .left-box {
        width: 50%;
        height: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .map-box {
          width: 100%;
          height: 70%;
          padding: 5px;
          background-color: white;
          border-radius: 10px;

          .map {
            border-radius: 10px;
            width: 100%;
            height: 100%;
          }
        }

        .bottom-left {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;

          .button-navigator {
            width: max-content;
            border-radius: 8px;
            background-color: #FF3D00;
            padding: 10px 45px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
              margin-left: 10px;
              width: 20px;
            }
          }
        }
      }


      .right-box {
        width: 50%;
        height: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 50px;

        .items {
          display: flex;
          align-items: center;
          color: white;
          font-weight: bold;
          font-size: 26px;

          .name {
            margin-left: 15px;
          }

          img {
            width: 25px;
            margin-right: 10px;
          }
        }

        .phone {
          margin-top: 40px;
          display: flex;
          align-items: center;

          img {
            width: 30px;
            margin-right: 10px;
          }

          color: white;
          font-weight: bold;
          font-size: 26px;
        }

        .location {
          margin-top: 40px;
          display: flex;
          align-items: center;

          img {
            width: 40px;
            margin-right: 10px;
          }

          color: white;
          font-weight: bold;
          font-size: 26px;
        }
      }

    }
  }

  .circle-sloy-one {
    position: absolute;
    left: -100px;
    top: -190px;
    width: 500px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }

  .circle-sloy-two {
    position: absolute;
    right: -100px;
    bottom: -160px;
    width: 600px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  .contact-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    display: block;

    .left {
      position: fixed;
      top: 0;
      width: 100%;
      height: 90px;
      z-index: 300;
      background-color: #0e224c;
    }

    .right {
      margin-top: 100px;
      width: 100%;
      height: 100%;
      z-index: 100;
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 10px;

      .title {
        margin: 0 auto;
        width: max-content;
        height: 35px;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 28px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          background: #FF3D00;
          right: 0;
          bottom: 0;
          height: 3px;
          width: 65%;
        }
      }

      .body-side {
        width: 100%;
        height: 100%;
        display: block;
        align-items: center;
        justify-content: center;

        .left-box {
          width: 100%;
          height: 400px;
          display: flex;
          justify-content: center;
          flex-direction: column;

          .map-box {
            width: 100%;
            height: 70%;
            padding: 5px;
            background-color: white;
            border-radius: 10px;

            .map {
              border-radius: 10px;
              width: 100%;
              height: 100%;
            }
          }

          .bottom-left {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            .button-navigator {
              width: max-content;
              border-radius: 8px;
              background-color: #FF3D00;
              padding: 10px 45px;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                margin-left: 10px;
                width: 20px;
              }
            }
          }
        }

        .right-box {
          width: 100%;
          height: 90%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-left: 10px;
          padding-right: 10px;

          .items {
            display: flex;
            align-items: center;
            color: white;
            font-weight: bold;
            font-size: 22px;

            .name {
              margin-left: 15px;
            }

            img {
              width: 25px;
              margin-right: 10px;
            }
          }

          .phone {
            margin-top: 40px;
            display: flex;
            align-items: center;

            img {
              width: 30px;
              margin-right: 10px;
            }

            color: white;
            font-weight: bold;
            font-size: 22px;
          }

          .location {
            margin-top: 40px;
            display: flex;
            align-items: center;

            img {
              width: 40px;
              margin-right: 10px;
            }

            color: white;
            font-weight: bold;
            font-size: 22px;
          }
        }
      }
    }

    .circle-sloy-one {
      position: absolute;
      left: -330px;
      top: -190px;
      width: 500px;
      height:320px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      transition: 0.3s;
    }

    .circle-sloy-two {
      position: absolute;
      right: -100px;
      bottom: -160px;
      width: 600px;
      height: 280px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
    }
  }
}